body {
    font: 16px/1.5 Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* =Main */
#intro {
    height: 100vh;
    background: linear-gradient( 20deg, hsl(134,60%,65%), hsl(-171,64%,60%) );
    text-align: center;
    color: #fff;
}
h1 {
    font-family: 'OpenSans-Light', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#intro .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #262626;
}
.project {
    text-align: center;
    padding: 200px 0;
    border-bottom: 1px #ebebeb solid;
    transition: background-color .3s linear;
}
.project img {
    width: 180px;
    height: 180px;
}
.project p {
    max-width: 300px;
    margin: 0 auto;
    color: #294D67;
}
#project01 h2 {
    color: #3DB3CE;
}
#project02 h2 {
    color: #75C695;
}
#project03 h2 {
    color: #F5876F;
}
#main {
    position: relative;
    background-color: #FFF;
}
.bcg-parallax {
    padding: 150px 0;
    color: #fff;
    background-color: #000;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.bcg {
    background: url('../img/img_background.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 0.7;
}
.content-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
}
.active {
    background-color: #e9f0f2;
}

/* =Footer */
.footer-container {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #06060d; 
}
.footer-container .wrapper {
    width: 80%;
    max-width: none;
    margin: 0 10%; 
}
.footer-container h3 {
    margin: 0;
    padding: 20px 0;
    font-weight: normal; 
}
.footer-container a {
    color: rgba(255, 255, 255, 0.5); 
}